<div class="well" ng-init="getUser()">
    <h3 class="text-center">Welcome, {{user.user_name}}!</h3>
    <hr>
    <div class="text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-info" ng-click="showAddBillForm()"><span class="glyphicon glyphicon-plus"></span> New Bill</button>
            <button type="button" class="btn btn-default" ng-click="logout()">Logout</button>
        </div>
    </div>
</div>
<br>
<div class="well" id="billhistory">
    <p>No bills to show.</p>
</div>