<div class="well" ng-init="getUser()">
    <h3>Welcome, {{user.user_name}}!</h3>
    <div class="text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-info" ng-click="loadAddInventoryView()">Add inventory type</button>
            <button type="button" class="btn btn-default" ng-click="logout()">Logout</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4" ng-init="getInventoryTypes()">
        <div id="invtypes"></div>
    </div>
    <div class="col-sm-8">

    </div>
</div>